<title><%= title %></title>
<h1><%= title.charAt(0).toUpperCase() + title.slice(1) %></h1>

<%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<form class="login-form" action="/account/login" method="post">
  <label for="email">Email:</label>
  <input
    type="email"
    id="email"
    name="account_email"
    required
    value="<%= locals.account_email %>"
  />

  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    name="account_password"
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
    title="Password must be at least 12 characters, contain a capital letter, a number, and a special character."
    required
  />

  <button type="submit">Login</button>

  <p>
    Don't have an account? <br />
    <a href="/account/registration">Sign-up</a>
  </p>
</form>
